* {
    margin: 0px;
}

:root {
    --title-color:#CDDEFF;
    --extra-title-color: #F40102;

}

.header {
    background-color: #010E17;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    height: auto;
    max-width: 1080px;
    margin: auto;
    padding: 20px 0px;
}

.navbar__logo-img {
    width: 20%;
}

.navbar__li {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    color: var(--title-color);
}

.header__dash{
    display: flex;
    justify-items: center;
    align-items: center;
}

.dash {
    min-width: 100%; 
    min-height: 100%; 
    position: relative;
    align-content: center;
    justify-content: center;
    height: 5px;
    width: auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 730px;
    max-width: 1080;
    margin: auto;
    background-image: url("/img/background_photo.png");
    background-image: url("/img/header-content-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content-text {
    width: 40%;
}

.header__content-text-title {
    color: var(--title-color);
    margin: 20px auto;
}

.header__content-text-discription {
    color: var(--title-color);
}


.header__content-image {
    
}

.header__sponsors {
    display: flex;
    background-color: #010C19;
    align-items: center;
    justify-content: center;
}

.header__sponsors-img {
    max-width: 100%;
}