* {
    margin: 0px;
}

:root {
    --title-color:#CDDEFF;
    --extra-title-color: #F40102;

}

.navbar {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 1080px;
    margin: auto;
}

.navbar__logo{

}

.navbar__li {
    
    
}