* {
    margin: 0px;
}

:root {
    --title-color:#CDDEFF;
    --extra-title-color: #F40102;

}

.main {
    display: flex;
    height: 3475px;
    background-image: url("/img/background_photo.png");
    background-repeat: no-repeat;
    background-size: cover;
}